<template name="addWord">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="portuguese">Português</label>
            <div class="controls">
                <input name="portuguese" id="portuguese" type="text" value="" placeholder="Olá" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="english">English</label>
            <div class="controls">
                <input name="english" id="english" type="text" value="" placeholder="Hello" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="chinese">Zhong Wen</label>
            <div class="controls">
                <input name="chinese" id="chinese" type="text" value="" placeholder="Ni Hao" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>